<!-- <div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverName of serverElements"
        [srvElement]="serverName"
      >
        <p>
          <strong *ngIf="serverName.type === 'server'" style="color: red">{{
            serverName.content
          }}</strong>
          <em *ngIf="serverName.type === 'blueprint'">{{
            serverName.content
          }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div> -->

<div class="container">
  <app-game-control
    (intervalFired)="onIntervalFired($event)"
  ></app-game-control>
  <hr />
  <app-odd *ngFor="let oddNum of oddNumbers" [number]="oddNum"></app-odd>
  <app-even
    *ngFor="let evenNumber of evenNumbers"
    [evenNumber]="evenNumber"
  ></app-even>
</div>
